<app-nav></app-nav>

<br>
<br>
<button (click)="createUser()">Create user</button>
<button (click)="login()">Login</button>
<button (click)="getProfile()">Profile</button>
<br>
<hr>
<p>
  <a href="./assets/files/texto.txt" download>Descargar</a>
</p>
<p>
  <button (click)="downloadPDF()">
    descargar blob
  </button>
</p>
<p>
  <label>upload</label>
  <input type="file" (change)="onUpload($event)" name="upload">
  <img *ngIf="imgRTA" [src]="imgRTA" alt="imagen" width="200px">
</p>
<p *ngIf="statusDetail === 'loading' ">Loading.....</p>
<hr>
<br>

<app-products></app-products>
<!-- <p><input type="text" [(ngModel)]="imgParent" /></p>
<button (click)="toggleImg()">Toggle Img</button>
<p>{{ showImg}}</p>
<app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"></app-img>
<hr/> -->

